/*  your css code here. If applicable */
div.main { display: flex;
  justify-content: center;
  align-items: center; border:2px solid #000; width:100vh;height:100vh;}
div.inner {display: flex;
  justify-content: center;
  align-items: center; margin:0 auto; width:200px; height:200px; text-align:center; background-color:#ADD8E6; border:2px solid #000; color:purple;}
